PORT=8080
NODE_ENV=development

KEY_TOKEN=
JWT_SECRET=
FRONTEND_URL=http://localhost:3000

DB_HOST=postgres
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=privia

REDIS_HOST='redis'
REDIS_PORT=6379

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
EMAIL_PORT=
EMAIL_FROM=

CRYPTO_KEY=

QDRANT_URL=http://127.0.0.1:6333

AI_URL=http://127.0.0.1:11434/api
AI_MODEL=qwen2.5:7b
AI_EMBEDDING_MODEL=nomic-embed-text
AI_EMBEDDING_CONCURRENCY=8

MINIO_END_POINT="127.0.0.1"
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME="privia"